.artboard {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.artboard .overlap-wrapper {
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.artboard .overlap {
  height: 1080px;
  left: -5px;
  position: relative;
}

.artboard .rectangle {
  background-color: #303030;
  height: 1080px;
  left: 0;
  opacity: 0.64;
  position: absolute;
  top: 0;
  width: 1920px;
}

.artboard .div {
  background-color: #303030;
  border-radius: 70px;
  height: 745px;
  left: 759px;
  position: absolute;
  top: 163px;
  width: 434px;
}

.artboard .rectangle-2 {
  background-color: #38d288;
  border-radius: 0px 0px 48px 48px;
  height: 93px;
  left: 842px;
  position: absolute;
  top: 163px;
  width: 279px;
}

.artboard .rectangle-3 {
  background-color: #f9f9f9;
  border-radius: 70px;
  height: 190px;
  left: 759px;
  position: absolute;
  top: 722px;
  width: 434px;
}

.artboard .text-wrapper {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 24px;
  font-weight: 900;
  left: 890px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 198px;
  white-space: nowrap;
}

.artboard .text-wrapper-2 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 935px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 174px;
  white-space: nowrap;
}

.artboard .text-wrapper-3 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 1088px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 282px;
  white-space: nowrap;
}

.artboard .text-wrapper-4 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 1086px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 340px;
  white-space: nowrap;
}

.artboard .text-wrapper-5 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 1037px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 523px;
  white-space: nowrap;
}

.artboard .text-wrapper-6 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 1054px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 586px;
  white-space: nowrap;
}

.artboard .text-wrapper-7 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 1076px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 401px;
  white-space: nowrap;
}

.artboard .text-wrapper-8 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 951px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
}

.artboard .loogo {
  display: block;
  height: 71px;
  left: 941px;
  object-fit: cover;
  position: absolute;
  top: 697px;
  width: 71px;
}

.artboard .group {
  background-color: #303030;
  border-radius: 33px;
  height: 78px;
  left: 851px;
  position: absolute;
  top: 789px;
  transition: all 0.6s ease;
  width: 251px;
}

.artboard .group:hover {
  transform: scale(1.03);
}

.artboard .icon-awesome-file {
  height: 29px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 21px;
}

.artboard .text-wrapper-9 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 71px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
}

.artboard .icon-ionic-ios-arrow {
  height: 21px;
  left: 1146px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  transition: all 0.2s ease;
  width: 12px;
}

.artboard .icon-ionic-ios-arrow:hover {
  transform: scale(1.1);
}

.artboard .DD-MM-YY-wrapper {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  height: 31px;
  left: 835px;
  position: absolute;
  top: 606px;
  transition: all 0.6s ease;
  width: 299px;
}

.artboard .DD-MM-YY-wrapper:hover {
  transform: scale(1.05);
}

.artboard .DD-MM-YY {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 300;
  height: 16px;
  left: 230px;
  letter-spacing: 0;
  line-height: 10px;
  padding: 0;
  position: relative;
  top: 7px;
  white-space: nowrap;
  width: 52px;
}

.artboard .DD-MM-YY::placeholder {
  color: #ffffff99;
}

.artboard .group-wrapper {
  height: 32px;
  left: 835px;
  position: absolute;
  top: 355px;
  transition: all 0.6s ease;
  width: 299px;
}

.artboard .group-wrapper:hover {
  transform: scale(1.05);
}

.artboard .text-input-wrapper {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  height: 32px;
}

.artboard .text-input {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  left: 15px;
  letter-spacing: 0;
  line-height: 10px;
  padding: 0;
  position: relative;
  top: 3px;
  width: 274px;  
  outline: none;

}

.artboard .text-input::placeholder {
  color: #ffffff99;
}

.artboard .overlap-group-wrapper {
  height: 93px;
  left: 836px;
  position: absolute;
  top: 416px;
  transition: all 0.6s ease;
  width: 299px;
}

.artboard .overlap-group-wrapper:hover {
  transform: scale(1.05);
}

.artboard .overlap-group {
  border-radius: 24px;
  height: 93px;
  position: relative;
}

.artboard .rectangle-4 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.6s ease;
  width: 299px;
}

.artboard .rectangle-4:hover {
  transform: scale(1.05);
}

.artboard .textarea {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 62px;
  left: 15px;
  letter-spacing: 0;
  line-height: 10px;
  padding: 0;
  position: absolute;
  top: 12px;
  width: 274px;
}

.artboard .textarea::placeholder {
  color: #ffffff99;
}

.artboard .input-wrapper {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  height: 31px;
  left: 835px;
  position: absolute;
  top: 541px;
  transition: all 0.6s ease;
  width: 299px;
}

.artboard .input-wrapper:hover {
  transform: scale(1.05);
}

.artboard .input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 15px;
  left: 14px;
  letter-spacing: 0;
  line-height: 10px;
  padding: 0;
  position: relative;
  top: 3px;
  width: 274px;
  outline: none;

}

.artboard .input::placeholder {
  color: #ffffff99;
}

.artboard .group-2 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  height: 31px;
  left: 833px;
  position: absolute;
  top: 299px;
  width: 299px;
}

.artboard .text-input-2 {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  left: 234px;
  letter-spacing: 0;
  line-height: 10px;
  padding: 0;
  position: relative;
  top: 7px;
  white-space: nowrap;
  width: 49px;
}

.artboard .text-input-2::placeholder {
  color: #ffffff99;
}

.artboard .group-3 {
  height: 48px;
  left: 824px;
  position: absolute;
  top: 768px;
  transition: all 0.6s ease;
  width: 302px;
}

.artboard .group-3:hover {
  transform: scale(1.1);
}

.artboard .overlap-2 {
  height: 48px;
  position: relative;
}

.artboard .rectangle-5 {
  background-color: #37d288;
  border-radius: 43px;
  height: 48px;
  left: 0;
  opacity: 0.97;
  position: absolute;
  top: 0;
  width: 302px;
}

.artboard .text-wrapper-10 {
  color: #ffffff;
  direction: rtl;
  font-family: "Heebo", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 114px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.DD-MM-YY-wrapper {
 
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.DD-MM-YY-wrapper input[type="datetime-local"] {
   margin-left :-5px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

/* שינוי מיקום וגודל של האייקון + הפיכתו ללבן */
.DD-MM-YY-wrapper input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: relative;
    right: -10px;  /* הזזה ימינה */
    font-size: 1.4em;  /* הגדלת האייקון */
    cursor: pointer;
    filter: invert(1);  /* הופך ללבן */
    opacity: 1;
}

.select-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-input-wrapper {
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

/* עיצוב הכפתור עצמו */
.select-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #fff;  /* טקסט לבן */
    font-size: 1em;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;  /* הסרת קווי מתאר */
    transition: transform 0.2s ease-in-out;
      padding-bottom:25px;

}

/* אפקט הובר להגדלה */
.select-input-wrapper:hover .select-input {
    transform: scale(1.05);  /* הגדלה עדינה בהובר */
}

/* עיצוב החץ */
.select-input-wrapper::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top:30%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1em;
    color: #fff;  /* חץ לבן */
}
.select-input option {
    background-color: #333;  /* רקע אפור כהה */
    color: #fff;  /* טקסט לבן */
    padding: 10px;
}

