.place-info-container {
  text-align: left;
  direction: ltr;
  padding: 20px;
  background-color: #2C3E50;
  color: #FFFFFF; /* טקסט לבן */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative; /* נדרש עבור מיקום כפתורים יחסית לקונטיינר */
  display: flex;
  flex-direction: column; /* שמירה על סידור אנכי של התוכן */
}

/* כותרת - שם המסעדה */
.place-info-title {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
  /* רקע שחור לכותרת */
  padding: 11px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  transition: transform 0.7s ease;
  /* הגדרת מעבר */

}

.place-info-title:hover {

  transform: scale(1.1);
  /* הגדלת הכותרת ב-10% */
}

/* כותרות משניות */
.place-info-details p {
  margin: 10px 0;
  font-size: 20px;
}

.place-info-details {
  padding: 10px;
  border-radius: 8px;
  background-color: #1e2f3f;
  transition: transform 0.7s ease;
  /* הגדרת מעבר */


}

.place-info-details strong {
  color: #FFFFFF;
  /* כותרות בלבן */
  font-weight: bold;
}

/* תמונה */
.place-info-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* אזור הביקורות */
.review-section {
  margin-top: 20px;
}

/* כפתורים */
button {
  background-color: #555555;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #444444;
  transform: scale(1.05);
}

input[type="text"],
textarea {
  background-color: #333333;
  color: #FFFFFF;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #AAAAAA;
}

select {
  background-color: #333333;
  color: #FFFFFF;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.review-upload {
  font-size: 14px;
  color: #AAAAAA;
}


.walking-time {
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-top: 10px;
  color: #000000;
  font-weight: bold;
  transition: transform 0.5s ease;
  /* הוספת מעבר איטי */
}

.walking-time:hover {
  transform: scale(1.1);
}

.walking-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: drop-shadow(0 0 5px #00ccff);
  transition: transform 0.5s ease;
  /* הוספת מעבר איטי */
}

.walking-icon:hover {
  transform: scale(1.1);
}

.custom-button {
  margin-top: 10px;
  background-color: #007BFF;
  /* כחול */
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* לשימוש גם על לינקים */
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
  /* גוון כהה יותר */
  transform: scale(1.05);
  /* הגדלה קלה */
}



/* קישורים */
a {
  color: #007BFF;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.right-buttons-container {
  position: absolute; /* מיקום מוחלט יחסית ל-place-info-container */
  top:110px; /* רווח מהחלק העליון */
  right: 23px; /* רווח מהחלק הימני */
  display: flex;
  flex-direction: column; /* כפתורים אחד מתחת לשני */
  align-items: flex-end; /* יישור לימין */
  z-index: 10; /* לוודא שהכפתורים מעל התוכן */
}

/* כפתור טלפון */
.phone-button {
  color: #FFFFFF;
  background-color: #28a745; /* ירוק */
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px; /* רווח בין הכפתורים */
  transition: all 0.3s ease;
}

.phone-button:hover {
  background-color: #218838; /* גוון ירוק כהה יותר */
  transform: scale(1.05);
}

/* כפתור אתר */
.website-button {
  background-color: #007BFF; /* כחול */
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 10px; /* רווח בין הכפתורים */
}

.website-button:hover {
  background-color: #0056b3; /* גוון כהה יותר */
  transform: scale(1.05);
}
.lef-details {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* יישור שמאלה */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.verify-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.verify-button:hover {
  background-color: #0056b3;
}
