.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.4s ease;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .slider {
    background-color: #4caf50; /* Green when checked */
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .slider:hover {
    background-color: #bbb; /* Slightly darker when hovered */
  }
  
  input:checked + .slider:hover {
    background-color: #3e8e41; /* Slightly darker green when hovered */
  }
  .custom-switch-label {
    font-weight: bold;
    color: white; /* שמור את הצבע אם יש רקע כהה */
    margin-right: 10px; /* הוסף רווח בין הטקסט לכפתור */
  }